.container {
    max-width: 1352px;
    margin: 0 auto;
    padding: 0 15px
}

.header,
.main,
.footer {
    background-color: #FFFAFA
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 39px
}

.menu__btn {
    display: none
}

.header__left-mobile {
    display: none
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 400px
}

.menu-list__link {
    text-transform: uppercase;
    color: #150200;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.menu-list__link:hover {
    color: #D8ADAD;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 145px
}

.logo-mobile {
    display: none
}

.phone {
    color: #150200;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.phone:hover {
    color: #D8ADAD;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header-icon {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header-icon:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}